<table class="table table-auto w-full h-full border-separate">
  <tr>
    <td class="button-number" (click)="handleClick('1')">
      <span>1</span>
    </td>
    <td class="button-number" (click)="handleClick('2')">
      <span>2</span>
    </td>
    <td class="button-number" (click)="handleClick('3')">
      <span>3</span>
    </td>
    <td class="button-operation" (click)="handleClick('/')">
      <span>/</span>
    </td>
    <td class="button-operation" (click)="handleClick('**')">
      <span>^</span>
    </td>
  </tr>
  <tr>
    <td class="button-number" (click)="handleClick('4')">
      <span>4</span>
    </td>
    <td class="button-number" (click)="handleClick('5')">
      <span>5</span>
    </td>
    <td class="button-number" (click)="handleClick('6')">
      <span>6</span>
    </td>
    <td class="button-operation" (click)="handleClick('*')">
      <span>*</span>
    </td>
    <td class="button-operation" (click)="handleClick('(')">
      <span>(</span>
    </td>
  </tr>
  <tr>
    <td class="button-number" (click)="handleClick('7')">
      <span>7</span>
    </td>
    <td class="button-number" (click)="handleClick('8')">
      <span>8</span>
    </td>
    <td class="button-number" (click)="handleClick('9')">
      <span>9</span>
    </td>
    <td class="button-operation" (click)="handleClick('+')">
      <span>+</span>
    </td>
    <td class="button-operation" (click)="handleClick(')')">
      <span>)</span>
    </td>
  </tr>
  <tr>
    <td class="button-number" (click)="handleClick('.')">
      <span>.</span>
    </td>
    <td class="button-number" (click)="handleClick('0')">
      <span>0</span>
    </td>
    <td class="button-number" (click)="handleClick('=')">
      <span>=</span>
    </td>
    <td class="button-operation" (click)="handleClick('-')">
      <span>-</span>
    </td>
    <td class="button-operation" (click)="handleClick('√')">
      <span>√</span>
    </td>
  </tr>
  <tr>
    <td class="button-error" colspan="4" (click)="handleClick('deleteAll')">
      <span>Borrar todo</span>
    </td>
    <td class="button-error" (click)="handleClick('delete')">
      <span>&lt;-</span>
    </td>
  </tr>
</table>
