<div class="flex flex-col bg-slate-100 p-6 rounded-md">
  <div class="flex flex-row justify-between">
    <div class="button-number">
      <span>1</span>
    </div>
    <div class="button-number">
      <span>2</span>
    </div>
    <div class="button-number">
      <span>3</span>
    </div>
    <div class="button-operation">
      <span>/</span>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <div class="button-number">
      <span>4</span>
    </div>
    <div class="button-number">
      <span>5</span>
    </div>
    <div class="button-number">
      <span>6</span>
    </div>
    <div class="button-operation">
      <span>*</span>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <div class="button-number">
      <span>7</span>
    </div>
    <div class="button-number">
      <span>8</span>
    </div>
    <div class="button-number">
      <span>9</span>
    </div>
    <div class="button-operation">
      <span>+</span>
    </div>
  </div>
  <div class="flex flex-row justify-between">
    <div class="button-number">
      <span>,</span>
    </div>
    <div class="button-number">
      <span>0</span>
    </div>
    <div class="button-number">
      <span>=</span>
    </div>
    <div class="button-operation">
      <span>-</span>
    </div>
  </div>
</div>
